// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 500px;
  margin: auto;
}

.form-div {
  display: block;
  text-align: center;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 20px;
}
.title {
  text-align: center;
}

.question {
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: white;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.answer {
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 15px;
  margin-bottom: 5px;
  background-color: white;
  box-shadow: 3px 3px 5px 6px #ccc;
}

p {
  font-size: 20px;
}

body {
  background-color: #F0F0F0;
}

h1 {
  text-align: center;
}

.btn-primary{
  width: 100%;
  margin-top: 5px;
}
